<head>
<%= javascript_include_tag "jquery.js", :plugin => 'redmine_repobrowser' %>
<%= javascript_include_tag "jquery.easing.js", :plugin => 'redmine_repobrowser' %>
<%= javascript_include_tag "jqueryFileTree.js", :plugin => 'redmine_repobrowser' %>
<%= stylesheet_link_tag "jqueryFileTree.css", :plugin => 'redmine_repobrowser' %>
</head>

<body>
<div id="fileTree" class="demo"></div>
</body>

<script type="text/javascript">
    $(document).ready( function() {
        $('#fileTree').fileTree({ root: '', script: 'content' }, function(file) {
	if (file.indexOf(" ") != -1) {
		file = '\"' + file + '\"'
	}
	window.parent.wikiToolbar.encloseLineSelection('source:'+file+'\n','');
	window.parent.$dialog.dialog('close');
        });
    });
</script>
