<head>
<script type="text/javascript" src="plugin_assets/redmine_repobrowser/javascripts/jquery.js"></script>
<script type="text/javascript" src="plugin_assets/redmine_repobrowser/javascripts/jquery.easing.js"></script>
<script type="text/javascript" src="plugin_assets/redmine_repobrowser/javascripts/jqueryFileTree.js"></script>
<link rel="stylesheet" href="plugin_assets/redmine_repobrowser/stylesheets/jqueryFileTree.css" type="text/css"/>
</head>
<body>
<div id="fileTree" class="demo"></div>
</body>
<script type="text/javascript">
    $(document).ready( function() {
        $('#fileTree').fileTree({ root: '', script: 'jqueryfiletree/content' }, function(file) {
	if (file.indexOf(" ") != -1) {
		file = '\"' + file + '\"'
	}
	window.parent.wikiToolbar.encloseLineSelection('source:'+file+'\n','');
	window.parent.$dialog.dialog('close');
        });
    });
	
</script>
